.title-auth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-secondary-custom {
    color: #FDD24B;
}

.text-gray {
    color: gray !important;
}

.text-error {
    color: #FF6961;
}

.bg-input {
background-color: #EEEEEE !important;
border: 1px solid white !important;
color: black !important;
}

.radius-input-right {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-left: none !important;
}

.radius-none {
    border-left: none !important;
    border-right: none !important;
}

.radius-input-left {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.btn-warning {
    background-color: #FDD24B !important;
    color: white;
    text-transform: uppercase;
}

.btn-warning:hover {
    color: white;
}

.c-pointer{
    cursor: pointer;
}
