.center {
    margin-top: 20vh;
}       

.active {
    color: #FDD24B !important;
    font-weight: bold !important;
}

.img-container {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bg-app {
    background-color: #FDD24B;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}